node_modules
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.test-results


create rsa key pair

add public key to github

add private key to conf file in .ssh
like below:
Host github.com
User git
Hostname github.com
PreferredAuthentications publickey
IdentityFile ~/.ssh/github_rsa
IdentitiesOnly yes

now push pull easily