/* ========== MENU PAGE ========== */

.menu-header {
    text-align: center;
    margin-top: 2rem;
}

.menu-table {
    width: 90%;
    margin: 2rem auto;
    border-collapse: collapse;
}

.menu-table th,
.menu-table td {
    padding: 1rem;
    border-bottom: 1px solid #ccc;
}

.menu-table tr:hover {
    background: #f3f3f3;
}
